/*
input type color margin
*/

input[type='color'] {
	padding: 0px !important;
}

.newProduct {
	flex: 4;
}

.addProductForm1 {
	margin-top: 10px;
	display: flex;
	align-items: center;
	gap: 120px;
}
/* .addProductForm147:not(:first-child) {
	width: fit-content;
} */
.newProduct form:nth-child(n + 3) {
	width: fit-content;
}

.addNewForm {
	margin-top: 10px;
	display: flex;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 100%;
	background-color: darkblue;
	color: white;
}

.addProductItem {
	width: 250px;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.closeFormButton {
	position: absolute;
	left: 1120px;
}

.color {
	flex-direction: row !important;
}

.color input {
	margin-left: 8px;
}

.addProductItem > label {
	color: gray;
	font-weight: 600;
	margin-bottom: 10px;
}

.addProductItem > input {
	padding: 10px;
}

.addProductItem > select {
	padding: 10px;
}

.addProductButton {
	margin-top: 10px;
	padding: 7px 10px;
	border: none;
	border-radius: 10px;
	background-color: darkblue;
	color: white;
	font-weight: 600;
	cursor: pointer;
}
.addProductTitle {
	margin-left: 10px;
}
.spinner {
	animation: spin 1s linear infinite;
}
.progress-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px; /* Adjust the height as needed */
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.addProductForm {
	border: 2px solid;
	border-radius: 10px;
	padding: 10px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;

	margin-bottom: 10px;

	display: flex;
	align-items: center;
	gap: 120px;
}
@media only screen and (max-width: 600px) {
	.addProductForm {
		flex-direction: column;
	}
}
