client/node_modules
api/node_modules
/client/node_modules
/api/node_modules
/node_modules
/.buildt
/.vscode
/node_modules
client/node_modules/
api/node_modules/
/client/node_modules/
/admin/node_modules/
admin/node_modules/
/api/node_modules/
/node_modules/
thunder-tests
.safurai/config.yml
admin/yarn.lock
pnpm-lock.yaml
*.ts
/api/node_modules
/api/node_modules
/api/node_modules/.bin
api/node_modules/.bin/mime.cmd
/api/node_modules
admin/yarn.lock
/api/node_modules
