<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <script>
    const handleClick = (event) => {
      event.preventDefault();
      const password = document.querySelector('#password');
      const confirmPassword = document.querySelector('#confirm-password');
      console.log(password.value);
      console.log(confirmPassword.value);
      if (password.value == "" || confirmPassword.value == "") {
        Swal.fire({
          icon: "error",
          title: "Oops...",
          text: "All fields are required!",
        });
      } else {
        if (password.value !== confirmPassword.value) {
          Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: 'Password and confirm password must be same!',
          })
        } else {
          const passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
          if (passwordRegex.test(password)) {
            console.log(passwordRegex.test(password));
            Swal.fire({
              icon: 'error',
              title: 'Oops...',
              text: 'Password must contain at least 8 characters, one letter and one number!',
            })
          } else {
            const status = '<%- JSON.stringify(status) %>';
            console.log(`🚀 ~ file: index2.ejs:42 ~ handleClick ~ status:`, status);
            document.querySelector('.active').submit();
            if (JSON.parse(status) == "verified") {
              Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Your account has been verified!',
              }).then((result) => {
                window.location.href = "http://localhost:3000/login";
              })
            }
          }
        }
      }
    }
  </script>
  <style>
    :root {
  --white: #fff;
  --black: #000;
  --blue: rgb(39, 56, 133, 0.7);
  --deepblue: #001057;
}
.formwarp {
  height: 100vh;
  overflow-x: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.login-register {
  height: 100%;
  display: flex;
}
.form {
  background-color: #607D8B;
  width: 450px;
  margin: auto;
  padding: 40px;
  border-radius: 10px;
}
.form .form-header {
  text-align: center;
  margin-bottom: 30px;
}
.form .form-header img {
  width: 80px;
}
.form .form-group {
  margin-bottom: 15px;
}
.form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  cursor: pointer;
  color: var(--white);
}
.form input {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  color: var(--black);
}
.form input:focus {
  outline: none;
  box-shadow: 0 0 10px var(--white);
}
.form-bottom {
  margin-top: 20px;
}
.form-bottom p {
  margin: 5px 0;
  color: var(--black);
}
.form-bottom a {
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}
.submit {
  margin-left: 5px;
}

    </style>
  </head>
  <body>
    <div class="formwarp">
  <div class="login-register">
    <div class="login form">
      <form id="login" class="active" method="POST">
        <div class="form-header">
          <img src="https://assets.codepen.io/1584356/codepen.png" alt="logo">
        </div>
        <div class="form-group">
          <label for="username">Password</label>
          <input type="password"
        name="password"
        id="password"
        required="true"
        placeholder="Password">
        </div>
        <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirm-password" placeholder="Confirm Password" />
        </div>
        <input type="submit" onclick="handleClick(event)"></input>
      </form>
    </div>
    </div>
</div>

  </body>
</html>
