body {
	background-color: #f5f5f5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.form-signin .form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin .first,
.form-signin input[type='text'].first,
.form-signin input[type='text'] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.form-signin .flat,
.form-signin input[type='text'].flat,
.form-signin textarea.flat {
	margin-bottom: -1px;
	border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-webkit-border-radius: 0;
}

.form-signin .last,
.form-signin input[type='text'].last,
.form-signin textarea.last,
.form-signin input[type='password'].last {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.btn-saffron {
	color: #ffffff;
	background-color: #3a242494;
	border-color: #ffffff;
	width: 200px;
	padding: 10px;
}

.btn-saffron.focus,
.btn-saffron:focus {
	color: #ffffff;
	background-color: #424242;
	border-color: #b2240d;
}

.btn-saffron:hover {
	color: #000000;
	background-color: #fff9f8;
	border-color: #ffffff;
}

.btn-saffron.active,
.btn-saffron:active,
.open > .dropdown-toggle.btn-saffron {
	color: #ffffff;
	background-color: #dd2e12;
	border-color: #b2240d;
}

.btn-saffron.active.focus,
.btn-saffron.active:focus,
.btn-saffron.active:hover,
.btn-saffron:active.focus,
.btn-saffron:active:focus,
.btn-saffron:active:hover,
.open > .dropdown-toggle.btn-saffron.focus,
.open > .dropdown-toggle.btn-saffron:focus,
.open > .dropdown-toggle.btn-saffron:hover {
	color: #ffffff;
	background-color: #424242;
	border-color: #b2240d;
}

.btn-saffron.active,
.btn-saffron:active,
.open > .dropdown-toggle.btn-saffron {
	background-image: none;
}

.btn-saffron.disabled,
.btn-saffron.disabled.active,
.btn-saffron.disabled.focus,
.btn-saffron.disabled:active,
.btn-saffron.disabled:focus,
.btn-saffron.disabled:hover,
.btn-saffron[disabled],
.btn-saffron[disabled].active,
.btn-saffron[disabled].focus,
.btn-saffron[disabled]:active,
.btn-saffron[disabled]:focus,
.btn-saffron[disabled]:hover,
fieldset[disabled] .btn-saffron,
fieldset[disabled] .btn-saffron.active,
fieldset[disabled] .btn-saffron.focus,
fieldset[disabled] .btn-saffron:active,
fieldset[disabled] .btn-saffron:focus,
fieldset[disabled] .btn-saffron:hover {
	color: #ffffff;
	background-color: #424242;
	border-color: #b2240d;
}

.btn-saffron .badge {
	color: #ffffff;
	background-color: #424242;
}

.ui-radio input[type='radio'] {
}

.form-signin .custom-input input[type='radio'],
.form-signin .custom-input input[type='checkbox'] {
	position: absolute;
	opacity: 0;
	z-index: -1;
}

.form-signin .custom-input input[type='radio'] + span,
.form-signin .custom-input input[type='checkbox'] + span {
	font: 16pt sans-serif;
	color: #999999;
}

.form-signin .custom-input input[type='radio'] + span:before,
.form-signin .custom-input input[type='checkbox'] + span:before {
	font-family: fontawesome;
	font-size: 12pt !important;
	display: inline-block;
	width: 12pt !important;
	padding: 2px 0 0 2px;
	margin: 0em;
	background: none;
}

.form-signin .custom-input input[type='radio'] + span:before {
	content: '\f10c';
}

.form-signin .custom-input input[type='checkbox'] + span:before {
	content: '\f096';
}

.form-signin .custom-input input[type='radio']:checked + span:before,
.form-signin .custom-input input[type='checkbox']:checked + span:before {
	color: #4e3f34 !important;
}

.form-signin .custom-input input[type='radio']:checked + span:before {
	content: '\f192';
}

.form-signin .custom-input input[type='checkbox']:checked + span:before {
	content: '\f046';
}

.form-signin .custom-input input[type='radio']:focus + span:before,
.form-signin .custom-input input[type='checkbox']:focus + span:before {
	/*outline: 1px dotted #aaa; */
}

.form-signin .custom-input input[type='radio']:disabled + span,
.form-signin .custom-input input[type='checkbox']:disabled + span {
	color: #f5f5f5;
}

.form-signin
	.custom-input
	input[type='radio']:not(:disabled)
	+ span:hover:before,
.form-signin
	.custom-input
	input[type='checkbox']:not(:disabled)
	+ span:hover:before {
	opacity: 0.6;
}

.form-signin .custom-input.line input[type='radio'] + span {
	color: #ffffff;
}

.form-signin .custom-input.line input[type='checkbox'] + span:before {
	content: '';
	color: #ffffff;
}

.form-signin .custom-input.line input[type='radio']:checked + span:before,
.form-signin .custom-input.line input[type='checkbox']:checked + span:before {
	content: '\f0d8';
}

.account-wall {
	margin-top: 80px;
	padding: 40px 0px 20px 0px;
	background-color: #607d8b;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
	border-radius: 10px;
}

.login-title {
	color: #555;
	font-size: 22px;
	font-weight: 400;
	display: block;
}

.profile-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.select-img {
	border-radius: 50%;
	display: block;
	height: 75px;
	margin: 0 30px 10px;
	width: 75px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.select-name {
	display: block;
	margin: 30px 10px 10px;
}

.logo-img {
	width: 96px;
	height: 96px;
	margin: 0 auto 10px;
	display: block;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.no-padding {
	padding: 0px;
}

.container501 {
	display: flex;
	justify-content: center;
}

/* #forgot {
    display: none;
} */

.tab-pane {
	width: 300px;
}

.forgot {
	text-decoration: none;
	color: #4e3f34;
}
.text-center {
	text-align: center;
}
.text-center a {
	text-decoration: none;
	color: #3a242494;
}
.submit {
	padding: 10px;
	color: #ffffff;
	background-color: #3a242494;
	cursor: pointer;
	box-shadow: 1px 1px #fffefe;
}
