.app.dark {
    background-color: #111016;
    color: white;

    .header-middle {
        background-color: #272433;
    }

    .jppUMi {
        background-color: rgb(255 255 255 / 33%);
    }

    .owl-next {
        background-color: rgb(255 255 255 / 33%);
    }

    .owl-prev {
        background-color: rgb(255 255 255 / 33%);
    }

    .block-search.search-pro .form.minisearch .field.search .input-text {
        color: white;
    }

    .block-search.search-pro .form.minisearch .field.search .input-text::placeholder {
        color: white;
    }

    .snipcss-X3nN9 {
        // box-shadow: 1px 1px 7px darkslateblue;
    }

    .header-bottom {
        background-color: #272433;
    }

    .sm_megamenu_icon {
        color: white;
    }

    .horizontal-block .promotion-block a {
        color: white;
    }

    .duMFaE {
        background-color: #111016;
    }

    .sBakm {
        color: white;
    }

    .kLtWWX {
        color: white;
    }

    .dBxJVR a {
        color: white;
    }

    .jmOpRN {
        background-color: #111016;
    }

    .block-title-menu {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .block-search .form.minisearch .field.search {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .minicart-wrapper .action.showcart {
        background-color: rgb(255 255 255);
    }

    .block-search.search-pro .form.minisearch .field.search .searchbox-cat {
        color: black;
    }

    .minicart-wrapper .action.showcart .text {
        color: black;
    }

    .minicart-wrapper .action.showcart svg {
        color: black;
    }

    .kKdzfx {
        background-color: #111016;
    }

    .jpthEq {
        background-color: #111016;
    }

    .group-deal-1 {
        background-color: #272433;
    }

    .post-title {
        color: white;
    }

    .automatic-icon h4.title-icon {
        color: white;
    }

    .price {
        color: black;
    }

    .group-deal-1 .timer-content {
        background-color: rgb(255 255 255);
        color: black;
    }
        .text-branner .text-offer {
            background-color:#111016;
        }

    #style-Leion.style-Leion {
        color: #d0d0d0f7;
    }

    .text-branner .hot-item {
        background-color: white;
    }

    .text-branner .hot-item:after {
        border-bottom: 63px solid white;
    }

    .explorer {
        background-color: white;
    }

    .background-default {
        background-color: #272433;
    }

    .mc4wp-form-fields input[type="submit"] {
        background: #d0d0d0f7 !important;
    }

    .mc4wp-form-fields label {
        color: white;
    }

    .group-deal-1 .product-item-info .product-item-details {
        color: white;
    }

    .group-deal-1 .deal-description {
        background-color: #111016;
        color: white;
    }

    .time-countdown-slide .time-left {
        color: white;
    }

    .automat .text-branner .text-offer {
        background-color: black;
    }

    .automatic-icon .box-content div {
        color: white;
    }

    .footer-top ul li a {
        color: white;
    }

    .widget-title {
        color: white;
    }

    .footercopyright {
        color: white;
    }
        .cfHqmF {
        background-color: aliceblue;
        color: black;
    }
        .feRTaP {
            background-color: aliceblue;
                color: black;
        }
}