.header-bottom {
	background-color: #ff6600;
	padding: 14px 0;
	user-select: none;
}

@media only screen and (max-width: 935px) {
	.header-bottom {
		display: none;
	}
}

.container {
	max-width: 1650px;
	padding: 0 15px;
	margin: 0 auto;
}

.desktop-menu {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.vertical-block {
	width: 250px;
}

.horizontal-block {
	flex: 1;
	padding-left: 30px;
	position: relative;
}

.vertical-menu-block {
	position: relative;
	cursor: pointer;
}

.block-title-menu {
	background-color: #4e3f34;
	padding: 0 20px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 40px;
	border-radius: 4px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.vertical-menu-content {
	background-color: #fff;
	border: 1px solid #ddd;
	display: none;
	position: absolute;
	top: 100%;
	min-width: 270px;
	z-index: 300;
	border-top: none;
	margin-top: 0;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.sm_megamenu_wrapper_vertical_menu ul.sm_megamenu_menu {
	margin: 0;
	padding: 0;
}

.more-w .more-view {
	padding: 16px 20px 17px;
	color: #4e3f34;
	border-radius: 0 0 10px 10px;
	display: block;
}

.more-w .more-view:hover {
	background-color: #4e3f34;
	color: white;
}

.horizontal-megamenu-block .sm_megamenu_menu > li {
	display: inline-block;
	position: static;
	padding: 0;
	margin: 0 1px 0 0;
}

.horizontal-megamenu-block .sm_megamenu_menu > li > a {
	display: block;
	height: 40px;
	line-height: 40px;

	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	padding: 0 20px;
	position: relative;
	border-radius: 4px;
}

.horizontal-megamenu-block .sm_megamenu_menu > li:hover > a {
	background-color: #4e3f34;
	color: #fff;
}

.horizontal-megamenu-block .sm_megamenu_menu > li.home-item > a {
	background-color: #4e3f34;
}

.horizontal-megamenu-block
	.sm_megamenu_menu
	> li:not(.home-item):hover
	~ li.home-item
	> a {
	background-color: transparent;
}

.promotion-block {
	position: absolute;
	font-weight: 602;
	right: 0;
	top: 0;
	border-radius: 5px;
	background-color: white;
}

.promotion-block a {
	display: block;
	height: 41px;
	line-height: 40px;
	padding: 0 24px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 4px;
}

.promotion-block a:hover {
	background-color: #4e3f34;
	color: white;
}

.other-toggle:hover {
	background-color: #4e3f34;
	border-radius: 5px;
}

.sm_megamenu_icon {
	color: black;
}

.other-toggle:hover .sm_megamenu_icon {
	color: white;
}

.sm_megamenu_menuAr {
	flex-direction: row-reverse;
}
.horizontal-megamenu-block .sm_megamenu_menu > li.home-item > a span {
	color: white;
}
.sm_megamenu_title {
	font-weight: 602;
}
