@media all {
	* {
		box-sizing: border-box;
	}
	.container {
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
}
.product-item-info-ar {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: unset;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: unset;
	}
}
@media all {
	body .container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 1024px) {
	body .container {
		max-width: 1650px;
	}
}
@media all {
	body:not(.layout-boxed) .container {
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 30px);
	}
}
@media (min-width: 769px), print {
	.column.main {
		box-sizing: border-box;
		min-height: 300px;
	}
}
@media all {
	.columns .column.main {
		box-sizing: border-box;
		padding-bottom: 0;
		flex-basis: auto;
		flex-grow: 1;
		order: 1;
		width: 100%;
	}
}
@media (min-width: 769px), print {
	.page-layout-1column .column.main {
		width: 100%;
		order: 2;
	}
}
@media all {
	.columns {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
	}
}
@media (min-width: 769px), print {
	.columns {
		display: block;
	}
}
@media all {
	main {
		display: block;
	}
	.page-main {
		flex-grow: 1;
		padding: 30px 0 60px;
	}
}
@media (min-width: 769px), print {
	.page-main {
		box-sizing: border-box;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}
@media all {
	body .page-main {
		padding-left: 0;
		padding-right: 0;
	}
}
@media (min-width: 1024px) {
	body .page-main {
		max-width: 1650px;
	}
}
@media all {
	body:not(.layout-boxed) .page-main {
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 30px);
	}
	body.cms-index-index .page-main {
		padding: 0;
		width: 100%;
		max-width: unset;
	}
	.page-wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}
	body:not(.layout-boxed) .page-wrapper {
		overflow-x: hidden;
	}
	body {
		margin: 0;
		padding: 0;
		color: #666666;
		font-style: normal;
		font-weight: 400;
		line-height: 1.5;
		font-size: 14px;
		background-color: #ffffff;
		font-family: 'Open Sans', sans-serif;
		text-align: left;
		overflow-x: hidden;
	}
	html {
		font-size: 62.5%;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		font-size-adjust: 100%;
		font-family: sans-serif;
		line-height: 1.15;
		-ms-overflow-style: scrollbar;
		-webkit-tap-highlight-color: transparent;
	}
	.group-deal-1 {
		background-color: #fff;
		padding: 30px 40px 30px 30px;
		border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
		-moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
		-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
		-o-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.08);
	}
	*,
	:before,
	:after {
		box-sizing: border-box;
	}
	.block {
		margin-bottom: 46px;
	}
	.group-deal-1 .block-list-products {
		margin: 0;
	}
	.block:last-child {
		margin-bottom: 0;
	}
	.block-title {
		display: none !important;
	}
	.block .block-title {
		margin-bottom: 20px;
	}
	strong {
		font-weight: bolder;
	}
	.block .block-title strong {
		font-size: 171.428%;
		color: #222;
	}
	.group-deal-1 .product-deal-list:after {
		content: '';
		display: block;
		clear: both;
	}
	.group-deal-1 .deal-left {
		width: 330px;
		float: left;
	}
	.group-deal-1 .deal-content {
		float: right;
		width: calc(100% - 380px);
	}
	.group-deal-1 .deal-contentAr {
		float: left;
		width: calc(100% - 330px);
	}
	.time-leftAr {
		display: flex;
		flex-direction: row-reverse;
	}
	.group-deal-1 .deal-description {
		background-color: #343745;
		color: #fff;
		font-size: 171.428%;
		padding: 30px 25px;
		line-height: 1.24;
		border-radius: 10px 10px 0 0;
		-moz-border-radius: 10px 10px 0 0;
		-webkit-border-radius: 10px 10px 0 0;
	}
	html[lang='ar'] .group-deal-1 .deal-description div {
		text-align: right;
	}
	.group-deal-1 .timer-content {
		padding: 25px 25px 10px;
		border-radius: 0 0 10px 10px;
		-moz-border-radius: 0 0 10px 10px;
		-webkit-border-radius: 0 0 10px 10px;
		background-color: #f0cba4;
		color: #222222;
	}
	.product-items,
	.items {
		margin: 0;
		padding: 0;
		list-style: none none;
	}
	.items {
		margin: 0;
		padding: 0;
		list-style: none none;
	}
	.product-items {
		font-size: 0;
	}
	.owl-carousel {
		display: none;
		width: 100%;
		-webkit-tap-highlight-color: transparent;
		position: relative;
		z-index: 1;
		direction: ltr;
	}
	.owl-carousel.owl-loaded {
		display: block;
	}
	.loading-content {
		background: url(http:
			no-repeat center center / 30px auto;
		min-height: 100px;
		background-image: url('http:
		background-position-x: center;
		background-position-y: center;
		background-size: 30px;
		background-repeat-x: no-repeat;
		background-repeat-y: no-repeat;
		background-attachment: initial;
		background-origin: initial;
		background-clip: initial;
		background-color: initial;
	}
	.owl-loaded + .loading-content {
		display: none;
	}
	.group-deal-1 .timer-content .timer-title {
		font-size: 114.285%;
		margin-bottom: 10px;
	}
	.deals-countdown {
		margin-bottom: 10px;
	}
	.group-deal-1 .timer-content .deals-countdown:after {
		content: '';
		display: block;
		clear: both;
	}
	.owl-carousel .owl-stage-outer {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	.owl-theme .owl-nav {
		margin-top: 10px;
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		margin: 0;
		opacity: 0;
		visibility: hidden;
	}
	.nav-style-1.hover-to-show:hover .owl-theme .owl-nav {
		opacity: 1;
		visibility: visible;
	}
	.owl-theme .owl-dots {
		text-align: center;
		-webkit-tap-highlight-color: transparent;
	}
	.owl-carousel .owl-dots.disabled {
		display: none;
	}
	.hidden {
		display: none;
		opacity: 0;
		visibility: hidden;
	}
	.owl-carousel .owl-stage {
		position: relative;
		touch-action: manipulation;
		-moz-backface-visibility: hidden;
	}
	.owl-carousel .owl-stage:after {
		content: '.';
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	.owl-carousel .owl-nav .owl-prev {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.owl-theme .owl-nav [class*='owl-'] {
		color: #fff;
		font-size: 14px;
		margin: 5px;
		padding: 4px 7px;
		background: #d6d6d6;
		display: inline-block;
		cursor: pointer;
		border-radius: 3px;
	}
	.owl-theme .owl-nav .disabled {
		opacity: 0.5;
		cursor: default;
	}
	.owl-theme .owl-nav [class*='owl-'].disabled {
		opacity: 1;
	}
	.owl-theme .owl-nav [class*='owl-'] {
		width: 50px;
		height: 50px;
		background-color: #fff;
		border: 1px solid #ddd;
		color: #222;
		text-align: center;
		line-height: 50px;
		position: absolute;
		top: 50%;
		margin: -25px 0 0;
		padding: 0;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	.owl-theme .owl-nav [class*='owl-'].owl-prev {
		left: -25px;
		border: #818181 1px solid;
	}
	.owl-theme .owl-nav [class*='owl-'].owl-prev svg {
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		font-size: 34px;
		margin-top: 7px;
	}
	.owl-theme .owl-nav [class*='owl-']:before {
		font-size: 24px;
	}
	.owl-carousel .owl-nav .owl-next {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.owl-theme .owl-nav [class*='owl-'].owl-next {
		right: -25px;
		border: #818181 1px solid;
	}
	.owl-theme .owl-nav [class*='owl-'].owl-next svg {
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 34px;
		margin-top: 7px;
	}
	.owl-carousel .owl-item {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
	}
	.owl-carousel.owl-drag .owl-item {
		touch-action: pan-y;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.owl-theme .owl-nav [class*='owl-'] span {
		display: none;
	}
	.product-item {
		box-sizing: border-box;
		font-size: 1.4rem;
		vertical-align: top;
	}
	.product-item:nth-child(2n + 1) {
		margin-left: 0;
	}
	.owl-carousel .product-item {
		width: 100% !important;
	}
	.product-item-info {
		max-width: 100%;
		width: 152px;
	}
	.group-deal-1 .product-item-info {
		max-width: unset;
		width: auto;
	}
	.group-deal-1 .product-item-info:after {
		content: '';
		display: block;
		clear: both;
	}
	.group-deal-1 .product-item-info .image-product {
		float: left;
		position: relative;
	}
	.group-deal-1 .product-item-info .product-item-details {
		float: right;
		width: 44.06%;
	}
	a {
		color: #222222;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	}
	a:visited {
		text-decoration: none;
	}
	a:hover {
		color: #ffcc00;
		text-decoration: none;
	}
	.AddCart2 {
		margin-top: 45px;
		width: 128px;
		border: solid;
		margin-left: 30px;
	}
	.group-deal-1 .product-item-info .image-product .quickview-handler {
		position: relative;
		display: none;
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		color: #222;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -25px;
		margin-top: -25px;
		background-color: #fff;
		z-index: 120;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	}
	.group-deal-1 .product-item-info .image-product .quickview-handler svg {
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		font-size: 23px;
		margin-top: 12px;
		margin-left: 1px;
	}
	.group-deal-1 .product-item-info:hover .image-product .quickview-handler {
		display: block;
	}
	.group-deal-1 .product-item-info .image-product .quickview-handler:hover {
		background-color: #f0cba4;
		color: #222222;
	}
	.product-item-name {
		display: block;
		font-weight: 400;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		margin: 5.75px 0;
		word-wrap: break-word;
	}
	.group-deal-1 .product-item-info .product-item-details .product-item-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 10px 0 13px;
	}
	.product-reviews-summary {
		display: table;
		margin: 0;
	}
	.product-item .price-box {
		margin: 11.5px 0 28.75px;
	}
	.group-deal-1 .product-item-info .product-item-details .price-box {
		margin: 10px 0 30px;
	}
	.group-deal-1 .time-countdown-slide {
		padding-right: 15px;
	}
	.product-item-actions {
		font-size: 0;
	}
}
@media screen and (max-width: 1200px) {
	.group-deal-1 .product-item-info {
		width: 100%;
	}
}
@media screen and (max-width: 1200px) {
	.group-deal-1 .deal-contentAr {
		float: left;
		width: 100%;
	}
	.product-deal-list-ar a {
		display: flex;
		justify-content: center;
	}
}
@media (min-width: 640px) {
	.product-item-actions {
		display: block;
	}
}
@media all {
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions {
		margin: 0;
		padding-top: 45px;
	}
	.product-image-container {
		display: inline-block;
		max-width: 100%;
	}
	.group-deal-1 .product-item-info .image-product .quickview-handler span {
		display: none;
	}
	.product-item-name > a {
		text-decoration: none;
	}
	.product.name a {
		font-weight: 400;
	}
	.product-item-name > a:visited {
		text-decoration: none;
	}
	.product-item-name > a:hover {
		text-decoration: none;
	}
	.rating-summary {
		overflow: hidden;
		white-space: nowrap;
	}
	.product-reviews-summary .rating-summary {
		display: table-cell;
		left: auto;
		position: relative;
		text-align: left;
		vertical-align: middle;
		right: auto;
	}
	.product-item .product-reviews-summary .rating-summary {
		margin: 0 4px 0 0;
	}
	.product-reviews-summary .reviews-actions {
		display: table-cell;
		line-height: 28px;
		vertical-align: middle;
	}
	.product-item .product-reviews-summary .reviews-actions {
		font-size: 12px;
		margin-top: 5px;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-reviews-summary
		.reviews-actions {
		display: none;
	}
	.price-container.weee:before {
		display: none;
	}
	.product-item-actions > * {
		font-size: 1.4rem;
	}
	.product-item-actions .actions-primary {
		display: inline-block;
		vertical-align: middle;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-primary {
		vertical-align: top;
	}
	.product-item-actions .actions-secondary {
		display: inline-block;
		font-size: 1.4rem;
		vertical-align: middle;
		white-space: nowrap;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-secondary {
		vertical-align: top;
	}
	.product-image-wrapper {
		display: block;
		height: 0;
		overflow: hidden;
		position: relative;
		z-index: 1;
	}
}
.product-image-container-13 span.product-image-wrapper {
	padding-bottom: 100%;
}
@media all {
	.product-reviews-summary .rating-summary .label {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.rating-summary .rating-result {
		display: inline-block;
		width: 84px;
		position: relative;
		vertical-align: middle;
		margin-left: -5px;
		margin: 0;
	}
	.rating-summary .rating-result:before {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
		-webkit-font-smoothing: antialiased;
		color: #c7c7c7;
		font-family: 'icons-blank-theme';
		font-size: 28px;
		height: 28px;
		letter-spacing: -10px;
		line-height: 28px;
		content: '\e605''\e605''\e605''\e605''\e605';
		display: block;
		font-style: normal;
		font-weight: normal;
		speak: none;
	}
	.rating-summary .rating-result:before,
	.rating-summary .rating-result > span:before {
		font-family: 'icomoon' !important;
		font-size: 14px;
		letter-spacing: 3px;
		content: '\e95a''\e95a''\e95a''\e95a''\e95a';
	}
	.product-reviews-summary .reviews-actions a {
		margin-right: 5.75px;
	}
	.clearfix:after {
		display: table;
		clear: both;
		content: '';
		height: 0;
		visibility: hidden;
	}
	.time-countdown-slide .time-ranger {
		height: 10px;
		background: #eee;
		position: relative;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	button {
		display: inline-block;
		background-image: none;
		background: #f2f2f2;
		border: 1px solid #cdcdcd;
		color: #333;
		cursor: pointer;
		font-weight: 700;
		margin: 0;
		padding: 7px 15px;
		font-size: inherit;
		line-height: inherit;
		box-sizing: border-box;
		vertical-align: middle;
		border-radius: 0;
		font-family: inherit;
		overflow: visible;
		text-transform: none;
		outline: none !important;
		background-color: white;
		border: none;
	}
	button,
	[type='button'] {
		-webkit-appearance: button;
	}
	.action.primary {
		background-image: none;
		background: #444;
		border: none;
		color: #fff;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		padding: 7px 20px;
		font-size: 1.4rem;
		box-sizing: border-box;
		vertical-align: middle;
	}
	.product-item .tocart {
		white-space: nowrap;
	}
	.action.primary {
		font-size: unset;
		outline: none;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-primary
		.tocart {
		height: 40px;
		padding: 0 26px;
		background-color: #f3f3f3;
		color: #222;
	}
	.action.primary:hover {
		background: #333;
		border: none;
		color: #fff;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-primary
		.tocart:hover {
		background-color: #f0cba4;
		color: #222222;
	}
	.product-item-actions .actions-secondary > .action,
	.product-items .action.towishlist {
		display: inline-block;
		text-decoration: none;
	}
	.product-item-actions .actions-secondary > .action {
		line-height: 35px;
		text-align: center;
		width: 35px;
	}
}
@media (min-width: 640px) {
	.product-item-actions .actions-primary + .actions-secondary > * {
		white-space: normal;
	}
}
@media all {
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-secondary
		.action {
		background-color: #f3f3f3;
		display: block;
		float: left;
		margin-left: 5px;
		width: 40px;
		height: 40px;
		text-align: center;
		line-height: 40px;
		color: #222;
		border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		padding-top: 2px;
	}
	.abs-actions-addto-gridlist:before,
	.product-item-actions .actions-secondary > .action:before,
	.table-comparison .wishlist.split.button > .action.split:before,
	.product-items .wishlist.split.button > .action.split:before,
	.product-items .action.towishlist:before,
	.action.towishlist:before,
	.action.towishlist:before {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 29px;
		line-height: 24px;
		color: #7d7d7d;
		font-family: 'icons-blank-theme';
		vertical-align: middle;
		display: inline-block;
		font-weight: normal;
		overflow: hidden;
		speak: none;
		text-align: center;
	}
	.product-item-actions .actions-secondary > .action:before {
		margin: 0;
	}
	.towishlist1 {
		margin-top: 6px;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-secondary
		.action:before {
		display: none;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-secondary
		.action.towishlist
		svg {
		display: inline-block;
		font-size: 14px;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-secondary
		.action:hover {
		background-color: #f0cba4;
		color: #222222;
	}
	.abs-actions-addto-gridlist:hover:before,
	.product-item-actions .actions-secondary > .action:hover:before,
	.table-comparison .wishlist.split.button > .action.split:hover:before,
	.product-items .wishlist.split.button > .action.split:hover:before,
	.product-items .action.towishlist:hover:before,
	.action.towishlist:hover:before,
	.action.towishlist:hover:before {
		color: #333;
	}
	.product-item-actions .actions-secondary > .action {
		display: inline-block;
		text-decoration: none;
	}
	.product-item .tocompare:before {
		content: '\e61f';
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-secondary
		.action.tocompare
		svg {
		display: inline-block;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-size: 16px;
	}
}
.product-image-container-22 span.product-image-wrapper {
	padding-bottom: 100%;
}
.product-image-container-28 span.product-image-wrapper {
	padding-bottom: 100%;
}
.product-image-container-29 span.product-image-wrapper {
	padding-bottom: 100%;
}
@media all {
	img {
		max-width: 100%;
		height: auto;
		border: 0;
		vertical-align: middle;
		border-style: none;
		width: auto;
	}
	.product-image-photo {
		bottom: 0;
		display: block;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}
	.owl-carousel .owl-item img {
		display: block;
		width: 100%;
	}
	.rating-summary .rating-result > span {
		display: block;
		overflow: hidden;
	}
	.rating-summary .rating-result > span:before {
		display: block;
		position: relative;
		z-index: 2;
		-webkit-font-smoothing: antialiased;
		color: #ffc000;
		font-family: 'icons-blank-theme';
		font-size: 28px;
		height: 28px;
		letter-spacing: -10px;
		line-height: 28px;
		content: '\e605''\e605''\e605''\e605''\e605';
		font-style: normal;
		font-weight: normal;
		speak: none;
	}
	.price-box .price {
		color: #222;
		font-weight: 600;
	}
	.product-item .price-box .price {
		font-size: 1.4rem;
		font-weight: 600;
		white-space: nowrap;
	}
	.group-deal-1 .stock-qty {
		display: none;
	}
	.time-countdown-slide .stock-qty {
		margin-bottom: 5px;
		color: #222;
	}
	.time-countdown-slide .time-left {
		margin-bottom: 5px;
		color: #222;
	}
	.time-countdown-slide .time-ranger .time-pass {
		position: absolute;
		top: 0;
		height: 10px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		background-color: #ffd200;
	}
	.product-item-actions .actions-secondary > .action span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.product-item-actions .actions-secondary > .action > span,
	.product-items .action.towishlist > span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.product-item-actions .actions-secondary > .action > span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.rating-summary .rating-result > span span {
		border: 0;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.time-countdown-slide .stock-qty span {
		color: #ff4444;
	}
	.time-countdown-slide .time-left span {
		color: #ff4444;
	}
}
#style-sCNUC.style-sCNUC {
	margin-bottom: 50px;
}
#style-Leion.style-Leion {
	color: #f0cba4;
	font-size: 48px;
}
#style-FUF77.style-FUF77 {
	width: 2460px;
}
#style-Ke3kW.style-Ke3kW {
	width: 585px;
	margin-right: 30px;
}
#style-j6oeg.style-j6oeg {
	width: 250px;
	height: 250px;
}
#style-gKGpW {
	border-radius: 10px;
}
#style-gKGpW.style-gKGpW {
	padding-bottom: 100%;
}
#style-MbzUc.style-MbzUc {
	width: 73%;
}
#style-Tx4nd.style-Tx4nd {
	width: -46.771378708551%;
}
#style-8kfzK.style-8kfzK {
	width: 585px;
	margin-right: 30px;
}
#style-75P4v.style-75P4v {
	width: 300px;
}
#style-P7Dkd.style-P7Dkd {
	padding-bottom: 100%;
}
#style-vaiah.style-vaiah {
	width: 53%;
}
#style-j3Afe.style-j3Afe {
	width: -100.42918454936%;
}
#style-8hkKU.style-8hkKU {
	width: 585px;
	margin-right: 30px;
}
#style-kagUT.style-kagUT {
	width: 300px;
}
#style-5Regc.style-5Regc {
	padding-bottom: 100%;
}
#style-39Wco.style-39Wco {
	width: 80%;
}
#style-wjF5n.style-wjF5n {
	width: -47.469458987784%;
}
#style-KTgWy.style-KTgWy {
	width: 585px;
	margin-right: 30px;
}
#style-jLddE.style-jLddE {
	width: 300px;
}
#style-RsQW3.style-RsQW3 {
	padding-bottom: 100%;
}
#style-TlBXc.style-TlBXc {
	width: 80%;
}
#style-IaYTg.style-IaYTg {
	width: -67.80303030303%;
}
@media only screen and (max-width: 819px) {
	.product-deal-list {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.group-deal-1 .deal-content {
		width: 100%;
		margin-top: 10px;
	}
}
.group-deal-1 .product-item-info .product-item-details .product-item-actions {
	margin-top: 10px;
}
.product-deal-list-ar {
	display: flex;
	flex-direction: row-reverse;
}
@media screen and (max-width: 1200px) {
	.product-deal-list-ar {
		display: flex;
		flex-direction: column;
	}
}
body {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	font-size: 14px;
	min-width: 320px;
	position: relative;
}
img {
	max-width: 100%;
	height: auto;
}
ul {
	margin: 0;
	padding: 0;
	list-style-type: none !important;
}
a {
	text-decoration: none;
	color: black;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: black;
}
input,
input:focus,
input:active {
	outline: none;
}
button,
button:active,
button:focus,
button:hover {
	outline: none;
}
.mainWrapper {
	position: relative;
	width: 100%;
	min-width: 320px;
	min-height: 1000px;
	padding: 0;
	margin: 0 !important;
}
.wrappen_block {
	position: relative;
	width: 100%;
	height: 100%;
}
.productCard_block2 {
	z-index: 1000;
	max-width: 800px;
	min-height: 600px;
	box-shadow: 0 5px 21px rgba(0, 0, 0, 0.08);
	background-color: #fff;
	display: none;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	top: 8%;
}
.productCard_leftSide {
	position: relative;
	width: 100%;
	min-height: 600px;
}
.sliderBlock {
	position: relative;
	height: 100%;
	margin-left: 70px;
	margin-top: 89px;
	margin-bottom: 46px;
	overflow: hidden;
}
.sliderBlock_items {
	position: relative;
	display: block;
	width: 100%;
	height: 403px;
}
.sliderBlock_items50 {
	position: relative;
	display: block;
	width: 100%;
	height: 403px;
}
.sliderBlock_items50:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0.2;
	z-index: 4;
}
.sliderBlock_items__itemPhoto2 {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 2;
	transition: opacity 1s;
}
.sliderBlock_items__showing2 {
	opacity: 1;
	z-index: 3;
}
.sliderBlock_items:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('https:
		50% 50% no-repeat;
	opacity: 0.2;
	z-index: 4;
}
.sliderBlock_controls {
	width: 100%;
}
.sliderBlock_controls__navigatin {
	margin-top: 8px;
	width: 100%;
}
.sliderBlock_controls__wrapper {
	margin: 1% auto;
	width: 110px;
	height: 20px;
}
.sliderBlock_controls__arrow {
	position: relative;
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: 300ms all;
	border-radius: 50%;
}
.sliderBlock_controls__arrow i {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	margin-left: -50%;
	margin-top: -50%;
	transition: 300ms all;
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
.sliderBlock_controls__arrowBackward2 {
	float: left;
}
.sliderBlock_controls__arrowForward2 {
	float: right;
}
.sliderBlock_positionControls {
	display: block;
	width: 100%;
	height: 3px;
	margin: 30px auto 0;
}
.sliderBlock_positionControls__paginatorItem2 {
	float: left;
	width: 18px;
	height: 10px;
	margin-left: 5px;
	background-color: #d7d7d7;
	cursor: pointer;
}
.sliderBlock_positionControls__paginatorItem2:first-child {
	margin-left: 31%;
}
.sliderBlock_positionControls__active2 {
	background-color: #323232;
}
.productCard_rightSide {
	position: relative;
	padding-top: 34px;
	padding-left: 27px;
	padding-right: 40px;
	width: 100%;
	min-height: 600px;
}
.block_specification {
	float: right;
	margin-top: 8px;
	cursor: pointer;
	height: 300px;
	color: #536dfe;
	transition: all 0.5s;
}
.block_specification__button {
	display: inline-block;
	margin-right: 7px;
	height: 100%;
	font-size: 17px;
	text-transform: uppercase;
	transform: rotate(0);
	transition: transform 0.5s;
	transform-origin: center center;
}
.block_specification:hover .block_specification__button__rotate {
	transition: transform 0.5s;
	transform: rotate(1turn);
}
.block_specification:hover {
	color: #f1425d;
}
.block_specification__text {
	width: 30px;
	height: 11px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color: #f0cba4;
}
.block_model {
	display: inline-block;
	color: #263238;
	font-size: 12px;
	opacity: 0.9;
}
.block_name {
	width: 100%;
	color: #263238;
	font-weight: 400;
	line-height: 35px;
}
.block_name__mainName {
	margin: 0;
	padding: 0;
	font-size: 29px;
}
.block_name__addName {
	margin: 0;
	padding: 0;
	font-size: 24px;
}
.block_product {
	position: relative;
	width: 100%;
}
.block_product__advantagesProduct {
	width: 271px;
	height: 41px;
	margin-top: 14px;
	color: #646b6f;
	font-size: 17px;
	line-height: 24px;
}
.block_product__link {
	line-height: 23px;
	color: #536dfe;
}
.block_informationAboutDevice {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.block_descriptionInformation {
	width: 304px;
	height: 104px;
	margin-top: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 23px;
	color: #263238;
}
.block_descriptionCharacteristic {
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	height: 100%;
	z-index: 30;
	transition: left, ease-out, 0.5s;
}
.block_descriptionCharacteristic__active {
	left: 0;
}
@-webkit-keyframes moveCharackeristic {
	0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}
@keyframes moveCharackeristic {
	0% {
		left: 100%;
	}
	100% {
		left: 0;
	}
}
.block_specificationInformation_table {
	position: relative;
	height: 90%;
	background-color: #fff;
}
.block_specificationInformation_table tr {
	border-collapse: collapse;
	border: 1px solid #000;
}
.block_specificationInformation_table th {
	border: 1px solid #000;
	font-weight: bold;
}
.block_specificationInformation_table td {
	border-collapse: collapse;
	text-align: center;
	border: 1px solid #000;
}
.block_rating {
	width: 100%;
	margin-top: 33px;
}
fieldset,
label {
	margin: 0;
	padding: 0;
}
.block_rating__stars {
	border: none;
	float: left;
	width: auto;
	margin: 0;
	padding: 0;
}
input[type='checkbox'] + label,
input[type='radio'] + label {
	margin: 0;
}
.block_goodColor__allColors > * {
	border: 1px solid black;
}
.block_rating__stars > input {
	display: none;
}
.block_rating__stars > label:before {
	margin: 5px;
	font-size: 15px;
	font-family: 'FontAwesome';
	display: inline-block;
	content: '\f005';
}
.block_rating__stars > .half:before {
	content: '\f089';
	position: absolute;
}
.block_rating__stars > label {
	color: #c9c9c9;
	float: right;
}
.block_rating__stars > input:checked ~ label,
.block_rating__stars:not(:checked) > label:hover,
.block_rating__stars:not(:checked) > label:hover ~ label {
	color: #fccf47;
}
.block_rating__stars > input:checked + label:hover,
.block_rating__stars > input:checked ~ label:hover,
.block_rating__stars > label:hover ~ input:checked ~ label,
.block_rating__stars > input:checked ~ label:hover ~ label {
	color: #ffed85;
}
.block_rating__avarage {
	margin-left: 31px;
	color: #f1425d;
	font-size: 15px;
	line-height: 35px;
}
.block_rating__reviews {
	margin-left: 6px;
	color: #656c6f;
	font-size: 13px;
}
.block_price {
	margin-top: 29px;
	width: 100%;
}
.block_price__currency {
	padding: 0;
	margin: 0;
	vertical-align: top;
	color: #f1425d;
	font-size: 26px;
	font-weight: 600;
}
.block_price__shipping {
	padding: 0;
	margin: 0;
	color: #a2a9ad;
	font-size: 12px;
}
.radio_button {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.block_goodColor {
	margin-top: 29px;
	width: 100%;
}
.block_goodColor__allColors {
	width: 100%;
	margin-top: 14px;
}
.block_goodColor__radio {
	display: inline-block;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	margin-left: 10% !important;
	background-color: #e8e6e3;
	cursor: pointer;
}
.radio_button:checked + .block_goodColor__radio {
	width: 25px;
	height: 25px;
	box-shadow: 0 0 5px 3px rgba(83, 109, 254, 0.5);
	border: 2px solid #fff;
}
.block_goodColor__black {
	background-color: #3c383a;
}
.block_goodColor__silver {
	background-color: silver;
}
.text_specification {
	padding: 0;
	color: #37474f;
	font-size: 13px;
}
.block_quantity {
	position: relative;
	height: 46px;
	margin-top: 85px;
}
.block_quantity span {
	display: inline-block;
	float: left;
	margin-top: 15px;
	margin-right: 10px;
}
.block_quantity__chooseBlock {
	vertical-align: top;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
}
.block_quantity__number {
	display: inline-block;
	float: left;
	width: 52px;
	height: 46px;
	border: 1px solid #ddd;
	font-size: 18px;
}
.block_quantity__number::-webkit-input-placeholder {
	color: #403f40;
	font-size: 18px;
	line-height: 35px;
}
.block_quantity__number::-moz-placeholder {
	color: #403f40;
	font-size: 18px;
	line-height: 35px;
}
.block_quantity__number:-ms-input-placeholder {
	color: #403f40;
	font-size: 18px;
	line-height: 35px;
}
.block_quantity__number::-ms-input-placeholder {
	color: #403f40;
	font-size: 18px;
	line-height: 35px;
}
.block_quantity__number::placeholder {
	color: #403f40;
	font-size: 18px;
	line-height: 35px;
}
.block_quantity__button {
	display: inline-block;
	position: relative;
	float: left;
	width: 20px;
	height: 50%;
	margin: 0;
	padding: 0;
	margin-left: 11px;
	font-size: 0;
	cursor: pointer;
}
.block_quantity__button:hover,
.block_quantity__button:focus {
	background-color: transparent;
	border: none;
}
.block_quantity__button:hover:before,
.block_quantity__button:focus:before {
	color: #536dfe;
}
.AiOutlineArrowUpanddown {
	width: 15px;
	height: 15px;
}
.button.button_addToCard {
	width: 147px;
	height: 46px;
	margin-top: 43px;
	margin-bottom: 0;
	padding: 0;
	color: #fff;
	background-color: #f0cba4;
	font-size: 17px;
	transition: all 0.3s;
	margin-left: 20px;
}
.button.button_addToCard:hover {
	background-color: #222;
}
.aboutMe a {
	display: block;
	width: 30%;
	position: fixed;
	bottom: 0.1%;
	left: 20px;
	color: rgba(255, 255, 255, 0.6);
	font-size: 1.5em;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
}
.row11 {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 500;
}
.columns11 {
	flex: 1;
}
.AiFillCloseCircle {
	display: flex;
	justify-content: end;
	margin-right: 10px;
	cursor: pointer;
	font-size: 22px;
	margin-top: 10px;
}
.backLayerForShowCart2 {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 420;
}
@media only screen and (max-width: 700px) {
	.productCard_block2 > .row11 {
		flex-direction: column;
		height: 685px;
		overflow-y: scroll;
		scroll-behavior: smooth;
	}
	.sliderBlock_items50 {
		height: 155px;
	}
	.AddCart2 {
		margin-top: 30px;
	}
	.block_goodColor {
		margin-top: -15px;
	}
	.block_quantity {
		position: relative;
		height: 46px;
		margin-top: 10px;
		padding-bottom: 10px;
	}
	.sliderBlock {
		height: 250;
		margin: 0;
		padding: 0;
		margin-top: 60px;
	}
	.sliderBlock_items {
		height: 155px;
	}
	.productCard_leftSide {
		min-height: 0;
	}
	.productCard_block2 {
		top: 1%;
	}
	.productCard_rightSide {
		min-height: 90px;
	}
	.sliderBlock_positionControls {
		display: none;
	}
	.productCard_rightSide {
		margin-top: 15px;
	}
	.AiFillCloseCircle {
		position: absolute;
		top: 1%;
		left: 86%;
	}
}
.price55 {
	margin-right: 12px;
	text-decoration: line-through;
}
@media only screen and (max-width: 700px) {
	#style-FUF77.style-FUF77 {
		width: 777px;
	}
	#style-j6oeg.style-j6oeg {
		width: 170px;
		height: 170px;
	}
	.group-deal-1 .product-item-info .product-item-details {
		float: none;
		width: 145px;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions {
		padding-top: 0px;
	}
	.group-deal-1
		.product-item-info
		.product-item-details
		.product-item-actions
		.actions-primary {
		margin-bottom: 7px;
	}
	.owl-theme .owl-nav [class*='owl-'].owl-next {
		top: 95px;
	}
	.owl-theme .owl-nav [class*='owl-'].owl-prev {
		top: 95px;
	}
}
.slick-prev,
.slick-next {
	z-index: 50000;
	color: #000;
	background: #f0cba4;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	width: 30px;
	height: 30px;
}
.slick-next {
	right: 0;
}
.slick-prev {
	left: -35px;
}
html[lang='ar'] .slick-prev {
	left: 0;
}
html[lang='ar'] .slick-next {
	right: 15px;
}
.owl-carousel .owl-stage-outer {
	overflow: visible !important;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
	color: black;
	outline: none;
	background: #f0cba4;
	border: 1px solid #000;
}
